<form [formGroup]="timeForm" class="time-form">
  <mat-form-field appearance="outline">
    <input type="text" matInput formControlName="time" [ngxMatTimepicker]="picker" placeholder="Час">
    <ngx-mat-timepicker #picker></ngx-mat-timepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput formControlName="date" [matDatepicker]="datepicker" placeholder="Дата">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconPrefix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>

  <section>
    <mat-checkbox color="primary" formControlName="currentDay">Сьогодні</mat-checkbox>
  </section>

  <div class="sleep-wake-up-actions">
    <button mat-fab color="primary" (click)="sumbit()" [disabled]="submitDisabled">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="sumbit()" [disabled]="submitDisabled">
      <mat-icon>child_care</mat-icon>
    </button>
  </div>
</form>
