<div>
  <div class="sleep-calendar-wrap">
    <mat-calendar class="sleep-calendar" [(selected)]="selected"></mat-calendar>
  </div>
  <div class="sleep-items" [ngStyle]="{ 'grid-template-columns': loading ? '1fr' : '1fr 1fr' }">
    <ng-template [ngIf]="loading">
      <mat-spinner [diameter]="18"></mat-spinner>
    </ng-template>
    <ng-template [ngIf]="!loading">
      <div *ngFor="let item of sleepStatisticByDay" class="item">
        Сон: [{{ item.start }} - {{ item.end }}]
      </div>
    </ng-template>
  </div>
</div>
